#container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 20em auto;
  grid-template-areas: "player-score cpu-score reset"
  "display display display"
  "rock paper scissors";
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

#container > * {
  border: 1px solid black;
  text-align: center;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 4px #DFDFDF;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: reset;
}

#display {
  grid-area: display;
  display: flex;
  flex-direction: column;
}

#Rock {
  grid-area: rock;
}

#Paper {
  grid-area: paper;
}

#Scissors {
  grid-area: scissors;
}

img {
  width: 100%;
  min-width: 100px;
  max-width: 180px;
  margin: 10px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: #F7F7F7;
}

#display-title {
  font-size: 25px;
  font-weight: bold;
}

#game-result {
  font-size: 36px;
  font-weight: bold;
}
